@using Syncfusion.EJ2;
@{
    ViewData["Title"] = "Index";
}
<div class='outlook-container'>
    <ejs-appbar colorMode="Dark" id="appbar" style="font-size: 0; white-space: nowrap; line-height: normal">
        <e-content-template>
            <div style="display: table-cell">
                <div class='home-btn'>
                    <span class='ej-icon-Bento' style='font-size: 18px;'></span>
                </div>
                <div style='margin-left: 15px;display: inline-block'>
                    <span class='home-btn-text'>Webmail</span>
                </div>
            </div>
            <div style="display: table-cell; width: 100%; text-align: center">
            </div>
            <div id="notification-div" class="header-right-pane">
                <div style="pointer-events: none;">
                    <ejs-button id="btnNotification"></ejs-button>
                </div>
            </div>
            <div id="settings-div" class="header-right-pane">
                <div style="pointer-events: none;">
                    <ejs-button id="btnSettings"></ejs-button>
                </div>
            </div>
            <div id="about-div" class="header-right-pane">
                <div style="pointer-events: none;">
                    <ejs-button id="btnAbout"></ejs-button>
                </div>
            </div>
            <div id="profile-div" class="header-right-pane">
                <div style="pointer-events: none;">
                    <ejs-button id="btnLoginName" cssClass="btn-profile"></ejs-button>
                </div>
                <div style="margin-right: 5px; pointer-events: none;">
                    <span class="e-avatar e-avatar-large e-avatar-circle" style="background-image: url('./content/images/1.png');height: 40px; width: 40px;"></span>
                </div>
            </div>
        </e-content-template>
    </ejs-appbar>
    <div id="content-area" style="height: 100%">
    </div>
</div>

<ejs-scripts></ejs-scripts>
<style>
    #btnNotification, #btnSettings, #btnAbout {
        min-width: 52px;
    }
</style>
