@using Syncfusion.EJ2;
@{
    ViewBag.Title = "newmail";
}

@{
    var moreNewMailTemplate = "<input type='text' tabindex='1' id='moreList2' />";
}
<div class="toolbar-parent-newmail">
    <div style='width:100%;height:40px;'>
        <div>
            <ejs-toolbar id="toolbar_newmail" height="100%">
                <e-toolbar-items>
                    <e-toolbar-item prefixIcon="ej-icon-Send tb-icons" text="Send" tooltipText="Send"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="ej-icon-Attach tb-icons" text="Attach" tooltipText="Attach"></e-toolbar-item>
                    <e-toolbar-item text="Discard"></e-toolbar-item>
                    <e-toolbar-item template=@moreNewMailTemplate tooltipText="More actions" cssClass="tb-item-more tb-item-more-mail"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="ej-icon-Copy tb-icons" tooltipText="Edit in a separate window" cssClass="tb-item-window-mail" align="Right"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="ej-icon-Close tb-icons" tooltipText="Close" cssClass="tb-item-back-mail" align="Right"></e-toolbar-item>
                </e-toolbar-items>
            </ejs-toolbar>
        </div>
    </div>
</div>
<div class="mail-content-div customScrollBar">
    <div class="mail-id" style="color: white">
        <ejs-button id="btnTo" content="To"></ejs-button>
        <input type='text' id='autoTo' />
    </div>
    <div class="mail-id" style="color: white">
        <ejs-button id="btnCc" content="Cc"></ejs-button>
        <input type='text' id='autoCc' />
    </div>
    <div class="mail-subject e-input-group">
        <input type='text' id='txtSubject' style="width: 100%" placeholder="Enter Subject Here" class="e-input" />
    </div>
    <div>
        <div id='mailContentMessage' class="customScrollBar" contenteditable="true"></div>
    </div>
    <div class='mail-text-edit-tb-parent'>
        <ejs-toolbar id="new_email_toolbar" overflowMode="Popup" height="100%" width="100%">
            <e-toolbar-items>
                <e-toolbar-item prefixIcon="ej-icon-Font tb-icons" tooltipText="Font"></e-toolbar-item>
                <e-toolbar-item prefixIcon="ej-icon-Font-Size path2 tb-icons" tooltipText="Font Size"></e-toolbar-item>
                <e-toolbar-item prefixIcon="ej-icon-Bold tb-icons" tooltipText="Bold"></e-toolbar-item>
                <e-toolbar-item prefixIcon="ej-icon-Italic tb-icons" tooltipText="Italic"></e-toolbar-item>
                <e-toolbar-item prefixIcon="ej-icon-Underlined tb-icons" tooltipText="Underline"></e-toolbar-item>
                <e-toolbar-item prefixIcon="ej-icon-Highlight tb-icons" tooltipText="Highlight"></e-toolbar-item>
                <e-toolbar-item prefixIcon="ej-icon-Font-Color-Icon tb-icons" tooltipText="Font color"></e-toolbar-item>
                <e-toolbar-item prefixIcon="ej-icon-Bullets tb-icons" tooltipText="Bullets"></e-toolbar-item>
                <e-toolbar-item prefixIcon="ej-icon-Numbering tb-icons" tooltipText="Numbering"></e-toolbar-item>
                <e-toolbar-item prefixIcon="ej-icon-Decr-Indent tb-icons" tooltipText="Decrease Indent"></e-toolbar-item>
                <e-toolbar-item prefixIcon="ej-icon-Incr-Indent tb-icons" tooltipText="Increase Indent"></e-toolbar-item>
                <e-toolbar-item prefixIcon="ej-icon-Left-aligned tb-icons" tooltipText="Decrease Indent"></e-toolbar-item>
                <e-toolbar-item prefixIcon="ej-icon-Centre-aligned tb-icons" tooltipText="Increase Indent"></e-toolbar-item>
                <e-toolbar-item prefixIcon="ej-icon-Right-aligned tb-icons" tooltipText="Decrease Indent"></e-toolbar-item>
                <e-toolbar-item prefixIcon="ej-icon-Hyperlink tb-icons" tooltipText="Hyperlink"></e-toolbar-item>
            </e-toolbar-items>
        </ejs-toolbar>
    </div>
    <div>
        <ejs-button id="btnSend" content="Send"></ejs-button>
        <ejs-button id="btnDiscard" content="Discard"></ejs-button>
    </div>
</div>

<ejs-scripts></ejs-scripts>

<style>
    #btnTo, #btnCc {
        width: 50px;
        float: left;
    }

    #btnSend {
        margin: 8px 0px;
        background-color: #0078D7;
        color: #fff;
    }

    #btnDiscard {
        margin: 8px 0px;
    }
</style>


